@model Entities.Concrete.Category
@{
    ViewBag.Title = "Index.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Form State Start-->
<div class="col-12 mb-30">
    <div class="box">
        <div class="box-head">
            <h3 class="title">Kategori Güncelleme</h3>
        </div>
        <div class="box-body">
            <div class="row mbn-15">
                <form method="post" action="/Category/UpdateCategory" >

                    @Html.Label("Kategori Adı")
                    @Html.TextBoxFor(x=>x.CategoryName, new {@class = "form-control"})
                    @Html.Label("Kategori Açıklaması")
                    @Html.TextBoxFor(x=>x.CategoryDescription,new {@class = "form-control"})
                    @Html.HiddenFor(x=>x.CategoryID)


                    <button class="btn btn-succues">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Form State End-->